/* Add CSS Styling */
.yellow_btn,
.black_btn {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}

.black_btn {
  background-color: black;
  color: white;
}

.yellow_btn {
  background-color: yellow;
}
